.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.body-container {
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    min-height: 100vh;
    background-color: var(--body);
}