.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
    align-items: flex-start;
}
.body-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;

}