.perform-sale-container {
    background-color: var(--background);
    height: 100%;
    padding: 20px;
}
.perform-sale-container .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.perform-sale-card {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}
.card-data-success {
    color: var(--success);
}