.sidebar-container {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-right: 3px solid var(--secondary);
    color: var(--secondary);
    width: 84px;
    transition: width 0.2s;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.sidebar-container.expanded {
    width: 200px;
}
.expand-icon-container {
    align-self: start;
    padding: 10px;
}

.sidebar-options-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
}

.sidebar-option {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}
.sidebar-option p {
    margin-left: 20px;
    font-size: 13px;
}

.sidebar-option.active ,.sidebar-option:hover {
    background-color: var(--black);

}

@media (max-width: 400px) {
    .sidebar-container.expanded {
        width: 100vw;
    }   
}