*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
:root {
  --primary: #6a5bd0;
  --secondary: #646870;
  --success: #53d36e;
  --error: #f35151;
  --background: #1f2128;
  --black: #0f0f0f;
  --body: #252731;
  --white: #efefef;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--background);
}
::-webkit-scrollbar {
  width: 3px;
}